{% extends "base.html" %}

{% block hero %}
    <!-- Hero Image -->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <div class="hero-text-container">
                        <h1 class="font-weight-bold">Learn languages with I Can Read Anything</h1>
                        <p class="lead">Translate any text and enhance your language skills.</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}